/* reset */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*{
  background-color: #e5e5e5;

  font-family: Arial, Helvetica, sans-serif;
}
img{
  max-width: 598px;
}
.mb-1{
  margin-bottom: 1rem;
}
.title{
  text-align: center;
  padding: 5px;
}
.container{
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  /* border: 1px solid black; */
  
}
.card{
  border-radius: 30px;
  overflow: hidden;
}

.par{
  padding: 1rem;
  background-color: white;
}

.par h4 {
  background-color: white;
}

.par p {
  background-color: white;
}

.btn{
  background-color: #daa521;
  padding: 10px;
  display: inline-block;
  color: white;
}

.footer{
  color: white;
  background-color: #333333;
  text-align: center;
  min-height: 60px;
 margin-top: 12rem;
}

.color{
  background-color: #333333;
}